body {
  margin: 0;
  font-family: comic sans;
  background-color: white;
}
    
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:white;
  color: red;
}

.topnav a.active {
  background-color: white;
  color: red;
}

h1 {
  color: black;
}
    
h2 {
  color: green;
}

p{
  font-size: 50px;
  padding: 50px;
  margin: 20px;}
      
.profilepic {
  float: right;
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
    }
    
.newspage {
  height: 600px;
  border: 10px solid red;
    }

img{
 float:left;
 padding: 50px;
 margin: 20px;
 width:500px;
 height:400px;
}
