body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
    

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:white;
  color: red;
}

.topnav a.active {
  background-color: white;
  color: red;
}

h1 {
  color: green;
}
    
 h2 {
  color: green;
}
    
    
div.profilepic  {
  float: right;
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
    }
    
div.gta5  {
  float: right;
  background-color: black;
  width: 600px;
  border: 20px solid red;
  border-style: solid;
  border-color: green;
  padding: 50px;
  margin: 20px;
    }
