body {
  margin: 0;
  font-family: comic sans;
  background-color: white;
}
    
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:white;
  color: red;
}

.topnav a.active {
  background-color: white;
  color: red;
}

h1 {
  color: black;
  
}
    
h2 {
  color: green;
  
}

.text1{
  font-size: 50px;
  padding: 90px;
  margin: 20px;
  border: 15px solid green;
  
}
      
.profilepic {
  float: left;
  background-color: lightgrey;
  max-width: 481px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
    }
    
.newspage {
  height: 700px;
  max-width: 481px;
  border: 10px solid red;
  padding: 50px;
  margin: 20px;
    }

.favourite{
  height: 700px;
  max-width: 481px;
  border: 10px solid red;
  padding: 50px;
  margin: 20px;
}

.description {
  float: left;
  background-color: green;
  max-width: 481px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  color: white;
 }

img{
 float:left;
 height:400px;
 max-width: 481px;

}

